
.airline-modal .modal-content {border-radius: 10px;}
.airline-modal .btn-close {position: absolute; right:0; top:10px;}
.airline-modal .airline-modal-tophding {font-size:30px; text-align: center; display: flex; justify-content: center; align-items: center; padding:20px 30px; background: #b12c03; color:#fff; }
.airline-modal .calling-btn-img {width:86px; height: 86px; border-radius: 50%; position: absolute; left: -15px; top:-39px; z-index: 1;}
.airline-modal .calling-btn-img > img {width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.airline-modal .calling-main-btn {display: inline-block; padding: 5px 20px 5px 70px; margin-left: 15px; border-radius: 40px 40px; background: #0b1866; color:#fff; position: relative; margin-top:40px;}
.airline-modal .calling-main-btn > span {font-size:24px; font-weight:700; }
.airline-modal .calling-btn-txt {font-size: 16px; font-weight: 500; position: absolute; left: 43px; top: -33px; background: linear-gradient(359deg, #0b1866, #2a42d6); padding: 5px 40px 5px 36px;}
.airline-modal .calling-btn-txt > .calling-icon {width: 40px; height: 40px; border-radius: 50%; background: #102ac5; display: flex; align-items: center; justify-content: center; position: absolute; right: -10px; top: -3px;}
.airline-modal .airline-modal-txt {font-size: 14px; font-weight: 400; margin:0; padding: 0;}
.airline-modal .calling-box {background: #bec3ad; padding: 20px 20px; display: flex; justify-content: center; margin-top:20px;}
.airline-modal .calling-box-btn {padding: 10px 20px; color: #fff; background: #b12c03; text-decoration: none; border-radius: 10px; margin:0 auto 15px; display: table;}
.airline-modal .calling-box-txt {font-size: 16px; font-weight: 4000; margin: 0; padding: 0; text-align: center; display: block;}
.airline-modal .calling-box-txt > span {font-weight: 700;}
.airline-modal .calling-btn {text-decoration: none; font-size:22px; font-weight: 700; padding: 10px 25px; border-radius: 40px; background: #050f71; color: #fff; text-align: center; margin:20px auto; display: table;}
.airline-modal .calling-btn > i {margin-right: 8px;}
.calling-btn-flag {
  height:54px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px 10px 70px;
  border-radius: 40px;
  background: #050f71;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  display: table;
  position:relative;

  .flag-img {
    position:absolute;
    width:54px; 
    height:54px;
    border-radius:50%;
    left:0; 
    top:0px;
    object-fit:cover;

      img {
        width:100%;
        height:100%;
        object-fit:cover;

    }
  }
}  


.airline-modal-logo {width:180px; margin:20px auto; display: table;}

@media (max-width: 575px) {
  .airline-modal-tophding {padding: 20px 20px !important; font-size: 28px !important;}
  .airline-modal .calling-main-btn {padding: 5px 20px 5px 80px;}
  .airline-modal .calling-main-btn > span {font-size: 21px;}
}