:root {
	--primary-color: #d41c1c;
	--primary-color-rgb: 212 28 28;

	--secondary-color: #2042cc;
	--secondary-color-rgb: 32 66 204;

	--black: #000;
	--white: #fff;
	--gray: #ddd;
}

$primary-color: var(--primary-color);
$primary-color-rgb: var(--primary-color-rgb);

$secondary-color: var(--secondary-color);
$secondary-color-rgb: var(--secondary-color-rgb);

$black: var(--black);
$white: var(--white);
$gray: var(--gray);


